---
import Layout from "../../layouts/Layout.astro";
import NavBar from "../../components/NavBar.astro";
import Tag from "../../components/Tag.astro";
import Team from "../../components/Team.astro";
import { getI18N } from "../../i18n/index";
import { Image } from "astro:assets";
import TagBanner from "../../components/TagBanner.astro";
const lang = "en";
const i18n = getI18N({ currentLocale: lang });
---

<Layout title="Home">
	<header>
		<NavBar languaje={lang} />
		<h1 class="text-4xl font-bold text-center dark:text-zinc-100">
			{i18n.landing.header.title}
		</h1>
		<p class="text-2xl text-center dark:text-zinc-100">
			{i18n.landing.header.subtitle}
		</p>
		<div class="px-6 py-2">
			<Image class="object-cover w-full rounded-2xl aspect-video h-96" src="/img/image.png" alt="development-agency" width="1920" height="1080" />
		</div>
	</header>
	<main class="px-6">
		<div class="grid grid-cols-[1fr_3fr] gap-6">
			<div class="p-4 rounded-lg bg-primary-200 dark:bg-primary-950 flex flex-col justify-between items-start">
				<p class="dark:text-primary-50">
					"Transformando lo ordinario en extraordinario."
				</p>
				<button class="text-secondary-500 border-secondary-500 border-2 rounded-md text-xs px-2 py-1">
					Contactanos
				</button>
			</div>
			<div class="flex justify-between p-4 rounded-lg bg-primary-200 dark:bg-primary-950">
				<section class="flex flex-row flex-wrap items-start content-start justify-start w-2/5 gap-2">
					<Tag label="Web Development" />
					<Tag label="Mobile Development" />
					<Tag label="UI/UX Design" />
					<Tag label="E-commerce" />
					<Tag label="Iot" />
					<Tag label="Robotic" />
				</section>
				<section class="flex justify-end w-2/5">
					<Team />
				</section>
			</div>
		</div>
		<div class="p-4 mt-4 rounded-lg bg-primary-200 dark:bg-primary-950">
			<h2>Con la confianza de tus empresas y tecnologias favoritas.</h2>
			<section class="pt-4 flex w-full">
				<div class="flex gap-8 flex-wrap">
					<TagBanner src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Twilio_logo.png" alt="twilio" />
					<TagBanner src="https://upload.wikimedia.org/wikipedia/commons/b/b6/SendGrid_2016_Logo.png" alt="sendgrid" />
					<TagBanner src="https://www.edigitalagency.com.au/wp-content/uploads/mailchimp-logo-black-png-transparent.png" alt="mailchimp" />
					<TagBanner src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg" alt="aws" />
					<TagBanner src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" alt="react" />
					<TagBanner src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="node" />
					<TagBanner src="https://upload.wikimedia.org/wikipedia/commons/9/93/MongoDB_Logo.svg" alt="mongodb" />
					<TagBanner src="https://upload.wikimedia.org/wikipedia/commons/0/05/Go_Logo_Blue.svg" alt="golang" />
					<TagBanner src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Firebase_Logo.png" alt="firebase" />
					<TagBanner src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Microsoft_Azure_Logo.svg" alt="azure" />
					<TagBanner src="https://upload.wikimedia.org/wikipedia/commons/1/17/Google-flutter-logo.png" alt="flutter" />
					<TagBanner src="https://luminfire.com/wp-content/uploads/2017/12/React_Native_Logo.png" alt="react-native" />
					<TagBanner src="https://cdn.freelogovectors.net/wp-content/uploads/2020/12/stencil-logo.png" alt="stenciljs" />
					<TagBanner src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg" alt="typescript" />
					<TagBanner src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg" alt="postgres" />
					<TagBanner src="/img/logo-wordmark.svg" alt="expo" />
				</div>
			</section>
		</div>
	</main>
	<footer></footer>
</Layout>
