---
interface Props {
	language: string;
}

import TeamSection from "@/components/sections/TeamSection.astro";
import ProviderSection from "@/components/sections/ProviderSection.astro";
import RecentWorks from "@/components/sections/RecentWorks.astro";
import Achievements from "@/components/sections/Achievements.astro";
import { getI18N } from "@/i18n/index";
import { Image } from "astro:assets";

const { language } = Astro.props;
const i18n = getI18N({ currentLocale: language });
---

<main class="px-6">
	<h1 class="text-4xl font-bold text-center dark:text-zinc-100">
		{i18n.landing.header.title}
	</h1>
	<p class="text-2xl text-center dark:text-zinc-100">
		{i18n.landing.header.subtitle}
	</p>
	<div class="py-2">
		<Image
			class="object-cover w-full rounded-2xl aspect-video h-96"
			src="/img/image.webp"
			alt="development-agency"
			width="1920"
			height="1080"
		/>
	</div>
	<TeamSection language={language} />
	<Achievements />
	<ProviderSection />
	<RecentWorks />
</main>
