---
import Main from "../sections/Main.astro";


---

<Main >
	<h1>Services</h1>
	<p>
		OmniTech offers products and services aimed at the business growth of small,
		medium, and large companies, ensuring that every development we generate has
		added and significant value.
	</p>
</Main>
