---
import Carousel from "@/components/Carousel.astro";
import { banners } from "@/const/banners";
---

<section class="p-4 mt-4 rounded-lg bg-primary-200 dark:bg-primary-950 text-center">
	<h2 class="text-3xl py-2 capitalize">Trusted by your favorite companies and technologies.</h2>
	<div class="flex justify-center items-center h-[200px]">
		<Carousel banners={banners} width={250} height={100} animationSpeed={50} id="providers" repeat={2} />
	</div>
</section>
