---
import Tag from "@/components/Tag.astro";
import Team from "@/components/Team.astro";

---

<section class="grid grid-cols-[1fr_3fr] gap-6">
	<div
		class="p-4 rounded-lg bg-primary-200 dark:bg-primary-950 flex flex-col justify-between items-start"
	>
		<p class="dark:text-primary-50">
			"Transforming the ordinary into extraordinary."
		</p>
		<button
			class="text-secondary-500 border-secondary-500 border-2 rounded-md text-xs px-2 py-1"
		>
			Contactanos
		</button>
	</div>
	<div
		class="flex justify-between p-4 rounded-lg bg-primary-200 dark:bg-primary-950"
	>
		<div
			class="flex flex-row flex-wrap items-start content-start justify-start w-2/5 gap-2"
		>
			<Tag label="Web Development" />
			<Tag label="Mobile Development" />
			<Tag label="UI/UX Design" />
			<Tag label="E-commerce" />
			<Tag label="Iot" />
			<Tag label="Robotic" />
		</div>
		<div class="flex justify-end w-2/5">
			<Team />
		</div>
	</div>
</section>
