---
interface Props {
	circled?: boolean;
	disabled?: boolean;
	fullWidth?: boolean;
	loading?: boolean;
	size?: 'small' | 'normal' | 'large';
	outline?: boolean;
	subtle?: boolean;
	type?: 'primary' | 'secondary' | 'critical' | 'success' | 'warning' | 'info' | 'link';
}
const { circled, disabled, fullWidth, loading, size, outline, subtle, type } = Astro.props;

---

<button
	class=""
>
	<slot />
</button>

