---
import { Image } from 'astro:assets';
interface Props {
	title: string;
	body: string;
	href: string;
	srcImage?: string;
}

const { href, title, body, srcImage } = Astro.props;
---

<div class="flex-wrap w-20 h-24 rounded-md bg-primary-900">
	<a href={href}>
		{srcImage ?
		<Image src={srcImage} alt={title} width="100" height="100" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;" class="rounded-md" /> :
		<div class="flex items-center justify-center w-full h-full">
			<slot />
		</div>
	}
	</a>
</div>
