---
interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<article>
	<header>
		<slot />
		<h1>{title}</h1>
	</header>
	<footer>
		<p>{description}</p>
	</footer>
</article>
