---
interface Props {
	language: string;
}
import Theme from "@/components/Theme.svelte";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getI18N } from "@/i18n/index";
import { Image } from "astro:assets";
import Hamburger from "@/icons/hamburger.astro";
import Menu from "@/components/Menu.astro";
const { language } = Astro.props;
const pathName = Astro.url.pathname;
const currentPath = pathName.split("/")[2];
const i18n = getI18N({ currentLocale: language });
---

<div class="absolute top-6 right-6 hidden lg:inline-block">
	<Theme client:only="svelte" />
</div>
<nav class="flex items-center w-full p-6 justify-evenly">
	<button class="lg:hidden" id="button-responsive-menu" aria-label="Menu Mobile">
		<Hamburger />
	</button>
	<div class="w-10 h-10 bg-center bg-cover">
		<a href={getRelativeLocaleUrl(language, '/')}>
			<Image src="/img/logo.png" alt="Omnitech Development" width="40" height="40" />
		</a>
	</div>
	<Menu
		language={language}
		currentPath={currentPath}
	/>
	<div class="flex items-center">
		<a
			class="px-6 py-3 text-white rounded-full bg-primary-500"
			href="tel:3229423051"
		>
			{i18n.landing.header.navbar.buttons.contact}
		</a>
	</div>
</nav>
<script>
	const buttonResponsiveMenu = document.getElementById("button-responsive-menu");
	const responsiveNavbar = document.getElementById("responsive-navbar");
	buttonResponsiveMenu?.addEventListener("click", () => {
		console.log("click", responsiveNavbar);
		responsiveNavbar?.classList.remove("hidden");
	})
</script>
