---
interface Props {
	language: string;
}
import Card from "@/components/Card.astro";
import Person from "@/icons/person.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
const { language } = Astro.props;
---

<div class="flex gap-5">
	<div class="flex flex-col w-3/6 gap-4">
		<Card title="titulo" href={getRelativeLocaleUrl(language, 'team')} srcImage="/img/image.png" />
		<p class="text-2xl font-bold text-center text-primary-400">Equipo</p>
	</div>
	<div class="flex flex-col-reverse w-3/6 gap-4">
		<Card title="titulo" href="https://www.linkedin.com/company/omnitech-development">
			<Person />
		</Card>
		<p class="text-2xl font-bold text-center text-primary-400">5+</p>
	</div>
</div>
